
/*
 * Copyright (c) 2020 Circuit Dojo LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

//*************************** Serial Interface - S **************************
&uart2 {
    status = "okay";
    current-speed = <230400>;
    label = "Serial Interface between Flute and RoadRunner";
};


/{
    zephyr,user {
        wakein-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
    };
};
// *************************** Serial Interface - E *************************


//*************************** ADC Config. for READING Vpv - S **************************
/ {
	zephyr,user {
		io-channels = <&adc 0>, <&adc 1>;
	};
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;
    
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN0>;
		zephyr,resolution = <12>;
	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN1>; // P0.04
		zephyr,resolution = <12>;
	};
};

//********************  ADC Config. for READING Vpv - E **********************


//**************** Turn OFF DS isolating the solar panel when V > Vmax (S2) *****************
/{    
    Vu_OpenCircuit{
		compatible = "gpio-leds";
        label = "Digital Switch for isolating solar Panelss when V > Vmax";
		OpenCircuit: switch_solar{
			gpios = <&gpio0 22 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
            label = "Digital Switch for isolating Solar panel";
		};
    };

    aliases {
        opencircuit = &OpenCircuit;
    };
};
//***************** Turn OFF DS isolating the solar panel when V > Vmax (S2) - E ****************

//*************************** Overlay File for Digital Switches (S3) - S **************************
/{  
    Vu_Output_Pin1{
		compatible = "gpio-leds";
        label = "Output Pin to wake up RoadRunner";
		D_OP1: outputpin1 {
			// gpios = <&gpio0 4 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
            gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
			label = "Output Pin to wake up RoadRunner";
		};
    };
    
    aliases {
        op1 = &D_OP1;
    };
};
//*************************** Overlay File for Digital Switches (S3) - E **************************

//********************* Enable/Disable the divider of V_solar reading (S1) - S ******************** 
/{  
    Vu_Digital_Switches{
		compatible = "gpio-leds";
        label = "Digital Switch";
		D_SW3: digital_sw3 {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Digital Switch for enable/disable the divider of V_solar reading";
		};
    };
    
    aliases {
        swdivider = &D_SW3;
    };
};
//***************** Enable/Disable the divider of V_solar reading (S1) - E ******************


//=================================================================================================
//******************** Ultra Low power for Circuit Dojo - S ********************
/{
    zephyr,user {
        latch-en-gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
        wp-gpios = < &gpio0 8 GPIO_ACTIVE_LOW >;
        hold-gpios = < &gpio0 10 GPIO_ACTIVE_LOW >;
    };

    leds {
        compatible = "gpio-leds";
        blue_led: led_0 {
            gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
            label = "Blue LED (D7)";
        };
    };
};
    
&gpio0 {
    sense-edge-mask = <0xffff>;
};

&i2c1 {
    lis2dh@18 {
        compatible = "st,lis2dh";
        reg = <0x18>;
        disconnect-sdo-sa0-pull-up;
    };
};
    
&spi3 {
    w25q32jv: w25q32jv@0 {
        /delete-property/ wp-gpios;
        /delete-property/ hold-gpios;
        t-enter-dpd = < 3500 >;
        t-exit-dpd = < 3500 >;
    };
};
// Stop - ******************** Ultra Low power for Circuit Dojo ********************